name: Build Docker image

on:
  pull_request:
    branches:
      - master

jobs:
  buildAPI:
    runs-on: ubuntu-latest
    steps:
      - name: Set up CD
        uses: actions/checkout@v2.3.4
      - name: Set up Docker Qemu
        uses: docker/setup-qemu-action@v1.1.0
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Build API
        uses: docker/build-push-action@v2.4.0
        with:
          context: ./api
          file: ./api/Dockerfile
          platforms: linux/amd64,linux/arm/v6,linux/arm/v7
          push: false
  buildBOT:
    runs-on: ubuntu-latest
    steps:
      - name: Set up CD
        uses: actions/checkout@v2.3.4
      - name: Set up Docker Qemu
        uses: docker/setup-qemu-action@v1.1.0
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Build BOT
        uses: docker/build-push-action@v2.4.0
        with:
          context: ./bot
          file: ./bot/Dockerfile
          platforms: linux/amd64,linux/arm/v6,linux/arm/v7
          push: false
